<section class=" mt-3 main_output shadow-lg border-2 border-gray-300 rounded-lg p-4 w-[300px] justify-center mx-auto mb-7">
<h2 class="text-xl">Operators:</h2>


<div>
<div class="flex items-center mb-4">
    <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="default-radio-1" class="ms-2 text-sm font-medium text-black ">Arriva</label>
</div>
<div class="flex items-center">
    <input checked id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="default-radio-2" class="ms-2 text-sm font-medium text-black dark:text-gray-300">Go North East</label>
</div>



<h2 class="text-xl">Age:</h2>
<div class="flex flex-row items-center mb-4">
    <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="default-radio-1" class="ms-2 text-sm font-medium text-black ">Under 18</label>
</div>
<div class="flex items-center mb-4">
    <input id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="default-radio-2" class="ms-2 text-sm font-medium text-black dark:text-gray-300">18+</label>
</div>
<div class="flex items-center mb-4">
    <select name="Are you travelling today?" id="">
        <option value="Are you travelling today?">Are you travelling today?</option>
        <option value="Today">Yes</option>
        <option value="Today">No</option>
    </select>
</div>

<button class="bg-green-500 p-2 rounded-xl mb-2 pl-4 pr-4 cursor-pointer" (click)="nextPage()">Next</button>

<button></button>










<p></p>
